<h1>Welcome to the World News</h1>
<p>Find me in app/views/home/top.html.erb</p>



<input type="button" value="click" onclick="func1()">

<div class="ui three stackable cards">
    
  <div class="card">
     <img src="/images/news1.jpg" class="content-image">
  </div>
  
  <div class="card">
    <div class="image">
      <img src="/images/news2.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/news3.jpg">
    </div>
    <p>put title here</p>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/news4.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/news1.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/news5.jpg">
    </div>
  </div>
</div>
